@import "vars"; 
@import "fonts";

html {
	overflow-x: hidden;
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	min-width: 320px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: $text;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 60px 39px 100px;
	background: #F5F7FA;
}


// отзывы reviews

.reviews__inner {
	display: grid;
	grid-template-columns: minmax(288px, 770px) minmax(200px, 370px);
	grid-column-gap: 30px;
	max-width: 1170px;
	margin: 0 auto;
}

.item-review__inner {
	position: relative;
	padding: 27px 30px 33px;
	background-color: #fff;
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 10px;
	box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
	border-radius: 5px;
}

.reviews__title {
	grid-column: 1 / -1;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	color: $main-black;
	margin-bottom: 27px;
}

.item-review__header {
	display: flex;
	margin-bottom: 18px;
}

.item-review__logo-img {
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	cursor: pointer;
	object-fit: cover;
}

.item-review__data-user {
	display: flex;
	margin-left: 17px;
	flex-direction: column;
	&-top, &-bottom {
		display: flex;
		font-size: 14px;
		line-height: 22px;
	}
	&-top {
		align-items: center;
		margin-bottom: 5px;
		flex-wrap: wrap;
    padding-right: 69px;
	}
}

.item-review__user-name {
	font-weight: 500;
	line-height: 24px;
	color: $main-black;
}

.item-review__user-status {
	display: flex;
	align-items: center;
	border: 1px solid $green;
	padding: 8px 7px;
	margin-left: 8px;
	margin-right: 25px;
	height: 20px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 10px;
	line-height: 11px;
	color: $green;
	&.blocked {
		border: 1px solid $red;
		color: $red;
	}
}

.item-review__user-country {
	display: flex;
	align-items: center;
	span {
		margin: 0 25px 0 8px;
	}
}

.item-review__post-date, .item-review__count-message {
	color: $grey;
}

.item-review__count-message {
	display: flex;
	align-items: center;
	flex-shrink: 0;

	span {
		width: 3px;
		height: 3px;
		border-radius: 50%;
		margin: 0 15px;
		background-color: $lightgrey;
	}
}

.item-review__brand {
	a {
		color: #1373E5;
		text-decoration: underline
	}
}

.item-review__plus-wrap {
	display: flex;
	align-items: start;
	margin-top: 3px;
	span {
		display: none;
		margin-left: 7px;
		font-weight: 600;
		font-size: 14px;
		line-height: 22px;
		color: $main-black;
	}
}

.item-review__plus, .item-review__minus {
	display: flex;
	&-text {
		margin-left: 13px;
	}
	svg {
		flex-shrink: 0;
	}
}

.item-review__minus {
	margin-top: 9.5px;	
	margin-bottom: 23.5px;
}

.item-review__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-review__button {
	display: flex;
	align-items: center;
	border: 1px solid $mainblue;
	padding: 11px 29px;
	border-radius: 40px;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: $mainblue;
	cursor: pointer;
	transition: color 0.3s ease, 
							background-color 0.3s ease;
	&:hover {
		background-color: $mainblue;
		color: #fff;
	}
}

.item-review__wrap-likes {
	display: flex;
	color: $grey;
	font-weight: 600;
}

.item-review__like-up, .item-review__like-down {
	display: flex;
	align-items: center;
	span {
		margin-left: 11px;
	}
	svg {
		cursor: pointer;
	}
}

.item-review__like-down {
	margin-left: 22px;
	svg {
		transform: rotate(-180deg);
		path {
			transition: fill 0.3s ease;
		}
		&:hover {
			path {
				fill: $red-thumbs;
			}
		}
	}
}

.item-review__like-up {
	svg {
		path {
			transition: fill 0.3s ease;
		}
		&:hover {
			path {
				fill: $green-thumbs;
			}
		}
	}
}

.item-review__menu {
	position: absolute;
	width: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 29px;
	right: 23px;
	cursor: pointer;
	span {
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background-color: $grey;
		margin-bottom: 2px;
	}
}

.item-review__star {
	position: absolute;
	display: flex;
	align-items: center;
	top: 24px;
	right: 79px;
	span {
		color: $main-black;
		font-weight: 600;
		font-size: 15px;
		line-height: 28px;
		margin-left: 6px;
	}
}

.reviews__button-more {
	display: flex;
	justify-content: center;
	margin: 20px auto 0;
	.item-review__count-more {
		transition: border 0.3s ease;
	}
	&:hover .item-review__count-more {
		border: 1px solid #fff;
	}
}

.item-review__count-more {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	margin-left: 10px;
	border-radius: 50%;
	background: rgba(19, 115, 229, 0.1);
	border: 1px solid transparent;
}


// рейтинг компании rating

.company-rating__inner {
	background: #FFFFFF;
	box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
	border-radius: 5px;
	padding: 30px 44px 37px;
	
	max-width: 370px;
	font-weight: 500;
	color: $main-black;
}

.company-rating__title {
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 11px;
}

.company-rating__wrap {
	display: flex;
	flex-direction: column;
}

.company-rating__number {
	display: flex;	
	justify-content: center;
}

.company-rating__current {
	font-size: 50px;
	line-height: 52px;
}

.company-rating__max {
	align-self: flex-end;
	font-size: 22px;
	line-height: 34px;
	margin-left: 5px;
}

.company-rating__stars-wrap {
	display: flex;
	justify-content: center;
	margin-top: 3px;
	margin-bottom: 25px;
}

.company-rating__stars:not(:first-child) {
	margin-left: 9px;
}

.company-rating__reviews {
	display: flex;
	justify-content: center;
	color: $grey;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 32px;
	&-count {
		margin-right: 5px;
	}
}

.company-rating__set-value {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}

.value-set__item:not(:last-child) {
	margin-bottom: 14px;
}

.value-set__title {
	margin-bottom: 5px;
}

.value-set__value-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.value-set__value {
	position: relative;
	height: 6px;
	background: #EAF1F9;
	border-radius: 5px;
	max-width: 100%;
	width: 100%;
}

.value-set__value-current {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $green;
	border-radius: 5px;
}

.value-set__rate {
	margin-left: 11px;
	flex-shrink: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: $main-black;
}






@import "media";